.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .form-group {
    margin-bottom: 0.5rem;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  input[type='checkbox'] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Adicionado para garantir que o padding não aumente a largura total */
  }
  
  button {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 1rem; /* Adicionado espaçamento entre o último campo e o botão */
    font-size: 1rem;
    background-color: var(--primary); /*#007bff;*/
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--secondary)/*#0056b3;*/
  }
  