.filmes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}
  
.filme-card {
    background-color: #d6d6d6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 5px;
    width: 400px;
    /*border: 1px solid green;*/
}
  
.filme-imagem {
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
  
.filme-info {
    padding: 20px;
    width: calc(100% - 150px); /* Ajuste para ocupar o restante do espaço */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.filme-titulo {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
  
.filme-detalhes {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 500;
}

.titulo-div {
    /*border: 1px solid blue;*/
    display: flex;
    justify-content: center;
}

.ingresso-div {
    background-color: #007bff;
    color: #fff;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* breakpoints */
@media (max-width : 419px) {

    .filmes-container{
        width: 100%;
    }

    .filme-card {
        height: 515px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #d6d6d6;
        margin-right: 10px;
        width: 375px;
    }

    .filme-imagem {
        width: 200px;
        height: 270px;
        object-fit: cover;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .filme-info {
        width: 100%; /* Ajuste para ocupar o restante do espaço */
        height: 235px;
        display: flex;
        flex-direction: column;
    }
      
    .filme-titulo {
        font-size: 1.2rem;
    }
      
    .filme-detalhes {
        font-size: 1rem;
        margin-bottom: 5px;
        font-weight: 500;
    }
    
    .titulo-div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    .ingresso-div {
        background-color: #007bff;
        color: #fff;
        width: 250px;
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}