

.modal-content-edit{
    background-color: #dfdfdf;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 950px;
    width: 100%;
    height: 85%;
    border: 1px solid red;
}


/**/

.modal-content-form {
    background: transparent;
    display: grid;
    width: 100%;
    border: 1px solid green;
}

.modal-content-adm-edit {
    display: flex;
    flex-direction: column;
}

.form-adicionar-filme {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group-adm {
    display: flex;
    flex-direction: column;
}

.form-group-adm label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group-adm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
}

.submit-button-adm {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button-adm:hover {
    background-color: #218838;
}


