
.datas-comp {
    /*border: 1px solid blue;*/
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-datas {
    margin-top: 5px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.dia {
    font-weight: 500;
    font-size: 1.3rem;
}

.item-datas-selected {
    background-color: var(--red);
    color : #fff;
}

.item-datas:hover {
    background-color: var(--red);
    color : #fff;
}
